@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
   background-color: $body-bg-color;
   color: #000000;

   h5 {
      color: #000000;
   }
}

.failure {
   color: red;
}

.success {
   color: green;
}

#logo{
   width: 50%;
}

#displayFeedbackId {
   color: green;
}

.bgd-1 {
   background-image: url('../../public/surf0.jpeg');
 background-size: cover;
} 

.bgd-2 {
   background-image: url('../../public/surf1.jpeg');
   background-size: cover;
} 

.bgd-3 {
   background-image: url('../../public/surf2.jpeg');
   background-size: cover;
} 


@media only screen and (max-width: 769px) {
   #logo{
      width: 100%;
   }
}